ul {
  list-style: none;
}

.centered-text {
  text-align: center;
}

.centered-box50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.header {
  padding: 16px 24px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: bold;
  font-size: 20px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
}
