ul {
  list-style: none;
}

input,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  width: 100%;
  line-height: 1.25rem;
  text-align: left;
  color: #374151;
}

table thead {
  line-height: 1rem;
  color: #374151;
  background-color: #f9fafb;
}

table thead th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

table tbody tr {
  border-bottom-width: 1px;
  background-color: #ffffff;
}

table tbody tr td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.centered-text {
  text-align: center;
}

.centered-box50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.flex-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}

.header {
  padding: 16px 24px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: bold;
  font-size: 20px;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
}
